*
    font-family: 'Montserrat Alternates', sans-serif
body
    margin: 0

.container
    max-width: 1400px
    margin: 0 auto

/*.header
    width: 100%
    padding: 31px 0 35px 0
    display: flex
    height: 87px
    justify-content: space-between
 */   
.menu
    padding: 31px 0 25px 0
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        display: flex
        align-items: center
        &_text
            font-weight: 500
            font-size: 24px
            color: #000000
    .scroll
        align-items: center
        display: flex
        flex-direction: column
        &_img
            margin-bottom: 10px
            width: 21px
            height: 20px

.menu
    .nav
        .nav_item
            display: flex
            list-style-type: none
            align-items: center
            .item_link
                text-decoration: none
                margin-left: 45px
                font-weight: 400
                font-size: 18px
                color: #000000
                transition: opacity .2s linear
                &:hover
                    opacity: 1
                    color:#008cff

.promo
    /*padding: 182px 0 220px 0*/
   
    height: 89vh
    background: url('../img/Rectangle_back.png') center center/cover no-repeat
    .title
        padding-top: 181px
        font-weight: 400
        font-size: 48px
        line-height: 59px
        color: #FFFFFF
        &_sub
            margin-top: 40px
            font-weight: 400
            font-size: 18px
            line-height: 30px
            color: #ffffff

.services
    padding: 75px 0 110px 0
    &_text
        font-weight: 400
        font-size: 40px
        color: #000000
    .row
        display: flex
        flex-wrap: wrap
        margin-top: 50px
        .col_mt
            margin-top: 60px
    &_item
        text-align: center
        width: 300px
        height: 383px
        background: linear-gradient(180deg, rgba(14, 2, 255, 0) 0%, rgba(23, 59, 97, 0.2) 100%)
        border-radius: 20px
        box-shadow:10px 10px 20px rgb(172, 172, 172)
        .item_text
            width: 270px
            align-items: center
            text-align: center
            margin-top: 25px
            font-weight: 400
            font-size: 18px
            line-height: 21px
            color: #000000
        .item_img
            margin-top: 10px




        


